@mixin center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin stoneBack {
  background-image: url("../img/stone.png");
  background-size: contain;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin textBox {
  width: $width;
  @include center;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3141592);
  box-sizing: border-box;
  padding: 5px;
}
