.choices-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-row-gap: 0px;
  grid-column-gap: 20px;
}

.choice {
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.link {
  cursor: pointer;
  display: table;
  padding: 15px;
  font-size: 1.25em;
  background-image: url("../img/stone.png");
  background-size: cover;
  border: solid 5px white;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.link:hover {
  border: solid 5px black;
}
