@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

@import "mixins";

$width: 90%;

html {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-color: black;
}

body > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  width: $width;
  font-size: 3em;
  @include center;
  @include stoneBack;
}

#menu {
  width: $width;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include center;
  .button {
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-image 0.3s ease-in-out;
    @include flexCenter;
    @include stoneBack;
  }
}

#form {
  @include center;
  iframe {
    margin: 20px;
    border: none;
    width: 700px;
    height: 700px;
  }
}

#rules {
  .textbox {
    @include textBox;
  }
}

#don {
  .textbox {
    @include textBox;
  }
  .choices-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    grid-row-gap: 0px;
    grid-column-gap: 20px;

    .choice {
      text-align: center;
      text-decoration: none;
      margin-bottom: 5px;
    }

    .link {
      cursor: pointer;
      display: table;
      padding: 15px;
      font-size: 1.25em;
      @include stoneBack;
      border: solid 5px white;
      transition: 0.3s ease-in-out;
      text-align: center;

      &:hover {
        border: solid 5px black;
      }
    }
  }
}

#carte {
  #map {
    border: none;
    height: 500px;
    width: $width;
    display: block;
    @include center;
  }
}

@media screen and (max-width: 850px) {
  #menu {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 2em !important;
  }
  #menu {
    .button {
      font-size: 1em !important;
    }
  }
}

@media screen and (max-width: 700px) {
  #form {
    iframe {
      width: $width !important;
    }
  }
}
